:root {
  --purple: rgb(61 29 62   / 20%);
  --mint:   rgb(81 173 119 / 20%);
  --blue:   rgb(18 69 117  / 20%);
  --orange: rgb(182 101 41 / 20%);
  /* --purple: rgb(145 12 149);
  --mint: rgb(101 177 132);
  --blue: rgb(13 82 147);
  --orange: rgb(209 92 5); */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background: rgb(36, 31, 35); */
}

/* 744 × 752 */
img {
  /* width: 100%; */
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
}

svg {
  /* width: 100%; */
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
  /* background: rgb(206, 201, 151); */
  /* background: linear-gradient(to top right, var(--blue), var(--blue) 50%, var(--purple) 50%, var(--purple)); */
  /* border: 1px solid white; */

  /* mix-blend-mode: difference; */

}

svg text {
  fill: white;
}

svg circle {
  /* fill: none; */
  stroke: black;
  stroke-width: 2px;
  /* mix-blend-mode: screen; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: soft-light; */
}


svg .coordinates.hide {
  display: none;
}

img {
  /* display: none; */
}





#north_circles {
  transform: translate(-1000px, -600px);
}
#north_west_circles {
  transform: translate(-652px, -800px);
}
#north_east_circles {
  transform: translate(-1348px, -800px);
}
#south_circles {
  transform: translate(-1000px, -1400px);
}
#south_west_circles {
  transform: translate(-652px, -1200px);
}
#south_east_circles {
  transform: translate(-1348px, -1200px);
}






#north_circles circle:nth-child(1) {
  fill: var(--purple);
}
#north_circles circle:nth-child(2) {
  fill: var(--mint);
}
#north_circles circle:nth-child(3) {
  fill: var(--purple);
}
#north_circles circle:nth-child(4) {
  fill: var(--mint);
}
#north_circles circle:nth-child(5) {
  fill: var(--purple);
}
#north_circles circle:nth-child(6) {
  fill: var(--mint);
}
#north_circles circle:nth-child(7) {
  fill: var(--purple);
}
#north_circles circle:nth-child(8) {
  fill: var(--mint);
}


#south_east_circles circle:nth-child(1),
#south_west_circles circle:nth-child(1) {
  fill: var(--orange);
}
#south_east_circles circle:nth-child(2),
#south_west_circles circle:nth-child(2) {
  fill: var(--blue);
}
#south_east_circles circle:nth-child(3),
#south_west_circles circle:nth-child(3) {
  fill: var(--orange);
}
#south_east_circles circle:nth-child(4),
#south_west_circles circle:nth-child(4) {
  fill: var(--blue);
}
#south_east_circles circle:nth-child(5),
#south_west_circles circle:nth-child(5) {
  fill: var(--orange);
}
#south_east_circles circle:nth-child(6),
#south_west_circles circle:nth-child(6) {
  fill: var(--blue);
}
#south_east_circles circle:nth-child(7),
#south_west_circles circle:nth-child(7) {
  fill: var(--orange);
}
#south_east_circles circle:nth-child(8),
#south_west_circles circle:nth-child(8) {
  fill: var(--blue);
}


#north_east_circles circle:nth-child(1),
#north_west_circles circle:nth-child(1) {
  fill: var(--mint);
}
#north_east_circles circle:nth-child(2),
#north_west_circles circle:nth-child(2) {
  fill: var(--purple);
}
#north_east_circles circle:nth-child(3),
#north_west_circles circle:nth-child(3) {
  fill: var(--mint);
}
#north_east_circles circle:nth-child(4),
#north_west_circles circle:nth-child(4) {
  fill: var(--purple);
}
#north_east_circles circle:nth-child(5),
#north_west_circles circle:nth-child(5) {
  fill: var(--mint);
}
#north_east_circles circle:nth-child(6),
#north_west_circles circle:nth-child(6) {
  fill: var(--purple);
}
#north_east_circles circle:nth-child(7),
#north_west_circles circle:nth-child(7) {
  fill: var(--mint);
}
#north_east_circles circle:nth-child(8),
#north_west_circles circle:nth-child(8) {
  fill: var(--purple);
}

#south_circles circle:nth-child(1) {
  fill: var(--blue);
}
#south_circles circle:nth-child(2) {
  fill: var(--orange);
}
#south_circles circle:nth-child(3) {
  fill: var(--blue);
}
#south_circles circle:nth-child(4) {
  fill: var(--orange);
}
#south_circles circle:nth-child(5) {
  fill: var(--blue);
}
#south_circles circle:nth-child(6) {
  fill: var(--orange);
}
#south_circles circle:nth-child(7) {
  fill: var(--blue);
}
#south_circles circle:nth-child(8) {
  fill: var(--orange);
}
