:root {

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background: rgb(36, 31, 35); */
}

/* 744 × 752 */
img {
  /* width: 100%; */
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
}

svg {
  /* width: 100%; */
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
  /* background: rgb(206, 201, 151); */
  /* background: linear-gradient(to top right, var(--blue), var(--blue) 50%, var(--purple) 50%, var(--purple)); */
  /* border: 1px solid white; */

  /* mix-blend-mode: difference; */

}

svg text {
  fill: white;
}

svg path {
  /* fill: none; */
  stroke: none;
}


svg .coordinates.hide {
  display: none;
}

img {
  /* display: none; */
}


